################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowershellUtlities/.vs/PowershellUtlities/v15/Server/sqlite3
